<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700177199481-q98ln46flg5ktsme86idr0e9q6hsl6jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700177199481-q98ln46flg5ktsme86idr0e9q6hsl6jf</string>
	<key>API_KEY</key>
	<string>AIzaSyCE3D2kzdaRziPG5YfEuiKMWfDnZDD-Na8</string>
	<key>GCM_SENDER_ID</key>
	<string>700177199481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shareRecipe</string>
	<key>PROJECT_ID</key>
	<string>share-recipe-58b1b</string>
	<key>STORAGE_BUCKET</key>
	<string>share-recipe-58b1b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700177199481:ios:d7750c9db3847840da7fa8</string>
</dict>
</plist>